<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Initial Catalog=Advertise;Data Source=THERAIN\SQLEXPRESS;" />
    <add name="ConnectionString1" connectionString="Password=SQL Server user password;User ID=SQL Server user name;Initial Catalog=database name;Data Source=server name;" />
    <add name="AdvertisersConnectionString" connectionString="Data Source=THERAIN\SQLEXPRESS;Initial Catalog=Advertisers;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
        <roleManager enabled="true" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
